body {
  font-family: Roboto;
  background: rgba(140, 196, 97, 1);
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: auto;
  margin: auto;
  padding: 20px;
  border: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 15px;
}

.heading {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.heading li {
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.score-board {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.score-box {
  background: white;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 139px;
  height: 128px;
}

.score-title {
  font-weight: 700;
  margin: 0 20px 5px 20px;
  font-size: 17px;
  color: rgba(101, 101, 101, 1);
}

.score {
  font-size: 68px;
}

.choices {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.choice {
  background: white;
  border-radius: 50%;
  width: 126px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.choice#rock {
  border: 16px solid rgba(0, 116, 182, 1);
}

.choice#paper {
  border: 16px solid rgba(255, 169, 67, 1);
}

.choice#scissors {
  border: 16px solid rgba(189, 0, 255, 1);
}

.choice img {
  width: 60px;
  height: 60px;
}

.choice:hover {
  transform: scale(1.1);
}

.result {
  font-size: 1.5em;
  margin-top: 20px;
}

.rules-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(140, 196, 97, 1);
  border: 5px solid white;
  color: white;
}

.popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 303px;
  height: 367px;
  padding: 20px;
  border-radius: 5px;
  border: 7px solid white;
  background: rgba(0, 68, 41, 1);
  color: white;
  justify-content: center;
  align-items: center;
}

.popup-content {
  text-align: center;
}

.close-btn {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  color: rgba(0, 68, 41, 1);
}

.Rules {
  text-align: left;
  font-size: 13px;
  list-style-type: square;
  color: white;
}

.Rules li::marker {
  color: rgba(255, 214, 0, 1);
}

.celebration {
  animation: celebration-animation 1s ease-in-out infinite;
}

@keyframes celebration-animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
